<main>
		<div class="container" ng-controller="AllCourses" ng-init="allcourses()">
			<div ng-repeat="course in courses">
    		

    		</div>
    		<table class="bordered highlight centered responsive-table">
    		<thead>
    			<tr>
    				<th data-field="name">Course </th>
    				<th data-field="syllabus">Syllabus</th>
    				<th data-field="studentclass" >Class</th>
    				
    					</tr>
    		</thead>
    		<tbody>
    				    		
					    			<tr ng-repeat="course in courses"  >
    				    			
    				    				<td><a ng-click="coursehome(course._id)">{{course.name}}</a></td>
    				    				<td>{{course.syllabus}}</td>
    				    				<td>{{course.courseclass}}</td>
    				    				<td><button class="btn waves-effect waves-light" type="submit" name="action" ng-click="subscribe(course._id)">Subscribe
    		</button></td>

    				

    				</tr>
    				</tbody>
    				</table>    
 

		</div>
</main>