<main>
<div ng-controller="CourseBlogController" ng-init="blogposts()">
	<button style="float: right;" class="btn waves-effect waves-light" type="submit" name="action" ng-click="NewQuestion()">NewQuestion</button>
    	
      <table>
        <thead>
          <tr>
              <th data-field="title">Title</th>
              <th data-field="no.of comments">no.of comments</th>
              <th data-field="Topic">Topic</th>
              <th data-field="usersubmitted">By</th>
              <th data-field="timeonsubmistion">Time of doubt</th>
              <th data-field="postlink">See whole doubt</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="question in Questions">
            <td>{{question.Title}}</td>
            <td>{{question.noofcomment}}</td>
            <td>{{question.Topic}}</td>
            <td>{{question.user}}</td>
            <td>{{question.submitted|date:'medium'}}</td>
            <td><button ng-click="postmain(question._id)">click</button></td>
          </tr>
</div>

</main>