
<main>
<div ng-controller="TestCreator as Creator">
<div class="row">
<div input-field class="col l3">
    <input type="text" ng-model="data.title" length="150">
    <label>Question Paper Title</label>
</div>
{{data.title}}
<input-field class="col l3">   
    <input type="text" ng-model="data.QuestionNumber" class="active">
    <label>QuestionNumber</label>
    
</input-field>
<div   class="input-field col l3">
<select ng-model="data.subject" class="browser-default">
                    <option value="" disabled selected>Subject</option>
                    <option value="English">English</option>
                    <option value="Math">Math</option>
                    <option value="Science">Science</option>
                    <option value="Social">Social</option>
                    
                </select>

    
</div>
<div input-field class="col l3">
<select ng-model="data.class" class="browser-default">
                    <option value="" disabled selected>Class</option>
                    <option value="1">class 1</option>
                    <option value="2">class 2</option>
                    <option value="3">class 3</option>
                    <option value="4">class 4</option>
                    <option value="5">class 5</option>
                    <option value="6">class 6</option>
                    <option value="7">class 7</option>
                    <option value="8">class 8</option>
                    <option value="9">class 9</option>
                    <option value="10">class 10</option>

                </select>

    
    

</div>

</div>

<form novalidate class="simple-form" ng-submit="submit()">
<div class="row">
 <ul class="collapsible" data-collapsible="accordion" watch>
<li ng-repeat="i in getNumber(data.QuestionNumber)" class="">
<div input-field class="collapsible-header ">
    <input type="text" ng-model="Questions[$index].name" length="150">
    <label>{{$index+1}}.Question:</label>
</div>
	<div class="collapsible-body">
	<div ng-repeat="j in getNumber(4)">
	<div input-field >
    <input type="text" ng-model="Questions[$parent.$parent.$parent.$index].options[$parent.$parent.$index]" length="150">
    <label>{{$index+1}}.option:</label>
</div>

</div>

<div input-field>
    <input type="text" ng-model="data.Correct[$parent.$parent.$index]" length="150">
    <label>CorrectOption</label>
</div>

{{data.Correct}}
	
</div>

</li>
</ul>
</div>

<div class="input-field">
    <select ng-model="data.testrating" watch>
     <option value="" disabled selected>testrating</option>
        <option ng-repeat="value in selectarray">{{value}}</option>

    </select>

</div>



</form>
<button class="btn waves-effect waves-light"  ng-click="submit()" >Submit</button>
<button class="btn waves-effect waves-light"  ng-click="Draft()" >Draft</button>

 </div>
</main>