<main>
	<div ng-controller="NewQuestionController" ng-init="">

		<form novalidate class="simple-form" ng-submit="submit()">
			<div input-field>
				<input type="text" ng-model="data.Title" length="150">
				<label>Title:</label>
			</div>
			<div class="input-field">
				<textarea ng-model="data.PostBody" class="materialize-textarea" id="#textarea1"></textarea> 
				<label>PostBody</label>
			</div>
			<div input-field>
				<input type="text" ng-model="data.Topic" length="150">
				<label>Topic</label>
			</div>

			<input class="btn" type="submit" id="submit" value="Submit" />
		</form>

	</div>
</main>