<main>
	<div ng-controller="NewCourse">
	<div>
		<button style="float: right;" ng-show="id" class="btn waves-effect waves-light" type="submit" name="action" ng-click="delete()">Delete</button>
		</div>
		<form novalidate class="simple-form" ng-submit="submit()">
		<div class="row">
			<div class="input-field col s6">
				<input id="school" type="text"  ng-model="schoolname">
				<label for="school">school</label>
			</div>
			<div class="input-field col s6">

				<input id="coursename" type="text" ng-model="name">

				<label for="coursename">Name of course</label><br>
			</div>
			<div class="input-field col s6">
				<input id="syllabus" type="text" ng-model="syllabus">
				<label for="syllabus">Syllabus</label><br>
			</div>
			<div class="input-field col s6">
				<input id="fees" type="text" ng-model="fees">
				<label for="fees">fees</label><br>
			</div>
			<div class="input-field col s6">
				<input id="durationofweeks" type="text" ng-model="durationofweeks">
				<label for="durationofweeks">durationofweeks</label><br>
			</div>
			
			<div class="input-field col s6">
				<input id="pre_requisites" type="text" ng-model="pre_requisites">
				<label for="pre_requisites">pre_requisites</label><br>
			</div>
			<div class="input-field col s6">
				<input id="courseclass" type="text" ng-model="courseclass">
				<label for="courseclass">courseclass</label><br>
			</div>
</div>
			<input class="btn waves" type="submit" id="submit" value="Submit" />
		</form>
		{{name}}
	</div>
</main>