<main>
	<div ng-controller="NewCourse">
	<div>
		<button style="float: right;" ng-show="id" class="btn waves-effect waves-light" type="submit" name="action" ng-click="delete()">Delete</button>
		</div>
		<form novalidate class="simple-form" ng-submit="submit()">
		<div class="row">
			<div class="input-field col s6">
				<input id="school" type="text"  ng-model="schoolname">
				<label for="school">school</label>
			</div>
			<div class="input-field col s6">

				<input id="coursename" type="text" ng-model="name">

				<label for="coursename">Name of course</label><br>
			</div>
			<div class="input-field col s6">
				<input id="syllabus" type="text" ng-model="syllabus">
				<label for="syllabus">Syllabus</label><br>
			</div>
			<div class="input-field col s6">
				<input id="fees" type="text" ng-model="fees">
				<label for="fees">fees</label><br>
			</div>
			<div class="input-field col s6">
				<input id="durationofweeks" type="text" ng-model="durationofweeks">
				<label for="durationofweeks">durationofweeks</label><br>
			</div>
			
			<div class="input-field col s6">
				<input id="pre_requisites" type="text" ng-model="pre_requisites">
				<label for="pre_requisites">pre_requisites</label><br>
			</div>
			<div class="input-field col s6">
			<select ng-model="courseclass" class="browser-default">
                    <option value="" disabled selected>Class</option>
                    <option value="1">class 1</option>
                    <option value="2">class 2</option>
                    <option value="3">class 3</option>
                    <option value="4">class 4</option>
                    <option value="5">class 5</option>
                    <option value="6">class 6</option>
                    <option value="7">class 7</option>
                    <option value="8">class 8</option>
                    <option value="9">class 9</option>
                    <option value="10">class 10</option>

                </select>


			</div>
</div>
			<input class="btn waves" type="submit" id="submit" value="Submit" />
		</form>
		{{name}}
	</div>
</main>