<main>

<div ng-controller="NotificationReceiver" ng-init="">
<!--<div class="row">
	<div class="card blue darken-1 col l5" ng-repeat="notification in notifications" style="margin-left: 10px">
    	<div class="card-content white-text">
    		{{notification.NotificationText}}
    	</div>
    	<div class="card-action">
    		<span class="btn">{{notification.room}}</span>
    		<span class="btn">{{notification.datesubmitted}}</span>
    	</div>
    </div>
    </div>-->
    <div>
        <table>
            <thead>
                <th>Notification</th>
                <th>Subject</th>
                <th>Date</th>
            </thead>
            <tbody>
            <tr ng-repeat="notification in notifications">
                <td>
                    {{notification.NotificationText}}
                </td>
                <td>{{notification.room}}</td>
                <td>{{notification.datesubmitted}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</main>