<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script type="text/javascript" src="/controllers/testdisplay.js"></script>
	<title>test paper attempt</title>

				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
				<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
		
</head>
<body ng-app="TestForm" >
<div ng-controller="TestCreator">
{{Questions}}
<div id="clockdiv"></div>
<form novalidate ng-submit="submit()">
<div ng-repeat="question in Questions">
	<p>{{$index+1}}.{{question.name}}</p>
	
	<div ng-repeat="option in question.options">
	
	<input type="radio" name="{{$parent.$index}}" id="{{$parent.$index}}india{{$index+1}}" ng-value="$index+1" ng-model="Answers[$parent.$index]">
	<label for="{{$parent.$index}}india{{$index+1}}">{{$index+1}}.{{option}}</label>
	</div>
	

</div>

	{{Answers}}
	<input type="submit" id="submit" value="Submit" />
	</form>
</div>
</body>
</html>