<main>
<div ng-controller="TestDisplay">
<div ng-include src="'test.html'" ></div>
<div class="container">
<div class="stopwatch">
<div class="clock  z-depth-1">
	<span>{{days}}:{{hours}}:{{minutes}}:{{seconds}}</span>
	<div class="overlay waves-effect"></div>
</div>
</div>

<form novalidate ng-submit="submit()">
<div ng-repeat="(questionindex,question) in Questions" ng-show="">
	<p>{{$index+1}}.{{question.name}}</p>
	
	<div ng-repeat="option in question.options" style="display: block" ">
	
	<input type="radio" name="{{$parent.$index}}" id="{{$parent.$index}}india{{$index+1}}" ng-value="$index+1" ng-model="Answers[$parent.$index]" ng-disabled="disabled">
	<label for="{{$parent.$index}}india{{$index+1}}">{{$index+1}}.{{option}}</label>
	</div>
	

</div>

	{{Answers}}
	<input type="submit" id="submit" value="Submit" />
	</form>
</div>
</div>
</main>