<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.11.3.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script type="text/javascript" src="/controllers/testdisplay.js"></script>
	<title>test paper attempt</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css">

				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
			
				<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
		<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="css/main.css">

</head>
<body ng-app="TestForm" >
<div ng-controller="TestCreator">
<div ng-include src="'test.html'" ></div>
<main>
<div class="container">
<div class="stopwatch">
<div class="clock  z-depth-1">
	<span>{{days}}:{{hours}}:{{minutes}}:{{seconds}}</span>
	<div class="overlay waves-effect"></div>
</div>
</div>
<form novalidate ng-submit="submit()">
<div ng-repeat="question in Questions" >
	<p>{{$index+1}}.{{question.name}}</p>
	
	<p ng-repeat="option in question.options" >
	
	<input type="radio" name="{{$parent.$index}}" id="{{$parent.$index}}india{{$index+1}}" ng-value="$index+1" ng-model="Answers[$parent.$index]">
	<label for="{{$parent.$index}}india{{$index+1}}">{{$index+1}}.{{option}}</label>
	
	</p>

	

</div>

	{{Answers}}
	<input type="submit" id="submit" value="Submit" />
	</form>
</div>
</main>
</div>
</body>
</html>