<main>
<div ng-controller="facultyresults" ng-init="facultystats()">
	{{response}}
	 <table>
        <thead>
          <tr>
              
              <th data-field="total_marks">marks scored</th>
              
              
              <th data-field="marks">username</th>
              <th data-field="result"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="data in response">
          
            <td>{{data.totalmarks}}</td>
            <td>{{data.username}}</td>
            
            
            
            
            <td><button class="btn waves-effect waves-light" type="submit" name="action" ng-click="results(data._id)">result</button>
</td>
            
          </tr>
        </tbody>
      </table>

</div>
</main>