<main>
<div ng-controller="TestDisplay">
<div class="container">
<div class="stopwatch">
{{}}
<div class="clock  z-depth-1">
	<span>{{days}}:{{hours}}:{{minutes}}:{{seconds}}</span>
	<div class="overlay waves-effect"></div>
</div>
</div>
<form novalidate ng-submit="submit()">
<div ng-repeat="question in Questions" >
	<p>{{$index+1}}.{{question.name}}</p>
	
	<p ng-repeat="option in question.options" >
	
	<input type="radio" name="{{$parent.$index}}" id="{{$parent.$index}}india{{$index+1}}" ng-value="$index+1" ng-model="Answers[$parent.$index]">
	<label for="{{$parent.$index}}india{{$index+1}}">{{$index+1}}.{{option}}</label>
	
	</p>

	

</div>

	{{Answers}}
	<input type="submit" id="submit" value="Submit" />
	</form>
</div>

</div>
</main>