<main>
<div ng-controller="UserStats" ng-init="userstats()">
{{response}}
 <table>
        <thead>
          <tr>
              <th data-field="id">TestPaperid</th>
              <th data-field="averagemarks">average marks</th>
              <th data-field="yourmarks">marks</th>
              <th data-field="totalmarks">totalmarks</th>
              <th data-field="totalnoofstudents">number of attempts</th>
              <th data-field="pagereferaltocheckanswers">checkanswers</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="data in response">
            <td>{{data[1].Testid}}</td>
            <td>{{data[0].avgmarks}}</td>
            <td>{{data[1].totalmarks}}</td>
            <td>{{data[0].completemarks}}</td>
            
            <td>{{data[0].totalNoOfStudentsAttempted}}</td>
            <td><button class="btn waves-effect waves-light" type="submit" name="action" ng-click="results(data[1]._id)">result</button>
</td>
            
          </tr>
        </tbody>
      </table>
</main>