<main>
<div ng-controller="UserStats" ng-init="userstats()">
{{response}}
 <table>
        <thead>
          <tr>
          <th data-field="testpaper-title">Title</th>
              <th data-field="id">TestPaperid</th>
              <th data-field="averagemarks">average marks</th>
              <th data-field="yourmarks">marks</th>
              <th data-field="totalmarks">totalmarks</th>
              <th data-field="totalnoofstudents">number of attempts</th>
             
              <th data-field="RatingAvg">Average Rating</th>
              <th data-field="State">State</th>
              <th data-field="faculty">Faculty</th>
              <th data-field="Subject">Subject</th>
              <th data-field="pagereferaltocheckanswers">checkanswers</th> 
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="data in response">
          <td>{{data[0].TestPaperTitle}}</td>
            <td>{{data[1].Testid}}</td>
            <td>{{data[0].avgmarks}}</td>
            <td>{{data[1].totalmarks}}</td>
            <td>{{data[0].completemarks}}</td>
            <td>{{data[0].totalNoOfStudentsAttempted}}</td>
            <td>{{data[0].RatingAvg}}</td>
            <td>{{data[0].State}}</td>
            <td>{{data[0].facultyname}}</td>
            <td>{{data[0].subject}}</td>
            <td><button class="btn waves-effect waves-light" type="submit" name="action" ng-click="results(data[1]._id)">result</button>
</td>
            
          </tr>
        </tbody>
      </table>
</main>